*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body{
    background-image:linear-gradient(-135deg,rgb(181, 120, 179),rgb(149, 155, 255));
    background-attachment: fixed;
}



@media screen and (orientation:portrait){

    header, #contenido-todo, footer{
        display: none;
    }

    
    #Mensaje-portrait{
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        width: 100%;
        height: 100vh;
    }
    
    #Mensaje-portrait-text {
        width: 80vw;
        font-size: 8vw;
        text-align:center; 
        font-family:Verdana, Geneva, Tahoma, sans-serif       
    }
    
    #Imagen-voltear{    
        background-image:url("./Assets/Imagenes/Voltear-imagen.png");
        width: 45vw;
        height: 25vh;
        background-size: contain;
        background-repeat: no-repeat;
        /* border: 1px solid black; */
    }    
}



@media screen and (orientation:landscape){

    #Mensaje-portrait{
        display:none;
    }

    header{
        position: fixed;
        top: 0;
        left:0;
        width: 100%;
        height: 16vh;
        /* background-image:linear-gradient(-135deg,rgb(181, 120, 179),rgb(149, 155, 255)); */
        background-color:rgba(24, 30, 134, 0.8);
        display: flex;
        flex-direction: row;
        align-items: center;   
        justify-content: space-between;
    }
    
    #seccion-header-left{
        display: flex;

        height: 100%;
        /* border: 1px solid black; */
        flex-direction: row;
        align-items: center;  
        justify-content: left;
        flex-wrap: wrap ;
        margin-left: 1vw;
    }
    
    #logo{
        background-image: url('Assets/Imagenes/Logo\ 2O\ SYNTH\ V3.png');
        width: 18vh;
        height: 11.5vh;
        padding-left: 4vh;
        background-position: center;
        /* border: 1px solid black; */
        margin-top: 2.7vh;    
    }
    
    #texto-2o-sinth{
        display: block;    
        color: white;
        font-size: 7vh;
        font-style: italic;    
        font-weight: 500;
        /* border: 1px solid black; */
    }
    
    #boton-iniciar-sesion{
        text-decoration: none;
        color: white;
        font-size:3vh;
        background-color:rgba(240, 255, 255,0.3);
        border-radius:2vh;
        height: 8vh;
        width: 26vh;
        display:flex;
        align-items:center;
        justify-content: center;
        border:3px solid white;
        padding: 1vh 2vh;
        font-weight: 0;
        text-align: center;
        margin-right:1vw;
    }
    
    #boton-iniciar-sesion:hover{
        background-color:rgba(240, 255, 255,0.8);
        color:rgb(138, 138, 172);
    }
    
    #contenido-todo{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        height: 380vh;
        width: 100%;
        /* border: 1px solid black; */
        margin-top: 16vh;
    
    }
    
    #barra-navegacion-contenedor{
        width: 10%;
        height: 100%;
        display: flex;
        justify-content: left;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        /* border: 1px solid black; */
    }
    
    #barra-navegacion{
        position: sticky;
        width: 70%;
        height: 55vh;
        margin: 14.5vh 0;
        top: 30.5vh;
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        align-items: center;
        background-color: rgba(255,255,255,0.5);
        border-radius: 2.5vh;
        box-shadow: 1vh 1vh 2vh rgba(73, 71, 71, 0.408);

    }

    .icono-barra-navegacion{
        width:65%;
        height: 17%;
        /* border: 1px solid black; */
    }

    .icono-barra-navegacion:nth-child(1){
        background-image: url('./Assets/Imagenes/Sinth\ Icono.png');
    }
    
    .icono-barra-navegacion:nth-child(2){
        background-image: url('./Assets/Imagenes/FX\ icono.png');
    }

    .icono-barra-navegacion:nth-child(3){
        background-image: url('./Assets/Imagenes/Sequenciador\ de\ melodias\ icono.png');
    }

    .icono-barra-navegacion:nth-child(4){
        background-image: url('./Assets/Imagenes/Sequenciador\ de\ ritmos\ icono.png');
    }

    #indicador{
        width: 61%;
        height:12.5vh;
        /* background-color:#ffa6009b; */
        border-radius:70%/30%;
        position:sticky;
        top:32.5vh;
        margin-top: -67.5vh;
        margin-bottom: 55vh;
        border:0.6vh solid  rgba(73, 71, 71, 0.6);        
    }

    #todas-las-secciones-contenedor{
        width: 70%;
        height: 100%;
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    

    .titulo-seccion{  
        color: white;
        font-size: 7vh;
        font-style: italic;    
        font-weight: 500;
    }

    .contenedor-seccion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        height: 84vh;
    }


    /* SINTETIZADOR */
    #contenedor-sintetizador{
        
        width: 100%;

    }



    #formulario-de-guardado-contenedor{
        width: 20%;
        height: 100%;
        /* border: 1px solid black; */
        display: flex;
        justify-content: center;
    }
    
    #formulario-de-guardado{
        position: sticky;
        /* border: 1px solid black; */
        width: 85%;
        height: 70vh;
        margin: 7vh 0;
        top:23vh;
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        background-color: rgba(255,255,255,0.5);
        border-radius: 2.5vh;
        box-shadow: 1vh 1vh 2vh rgba(73, 71, 71, 0.408);
    }        
        
    footer{
        background-color: black;
        width: 100%;
        height: 20vh;
    }

}






    
    
    
    



    
    
    
    
        
    
    


    

    
        

    
    
