:root {
  --wrapper-width: 400px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

html {
  height: 100%;
}

body {
  height: 100%;
}

#background {
  background-image: url("./Assets/Imagenes/Login-Fondo.webp");
  height: 100vh;
  width: 100%;
  /* animation: hueRotate 5s  linear reverse infinite; */
  filter: hue-rotate(-25deg) brightness(1.1);

  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes hueRotate {
  0% {
    filter: hue-rotate(0deg);
  }

  50% {
    filter: hue-rotate(360deg);
  }

  100% {
    filter: hue-rotate(0deg);
  }
}

.wrapper {
  position: relative;
  width: var(--wrapper-width);
  height: 70%;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
  transition: height 0.2s;
}

.wrapper .form-box.register {
  position: absolute;
  transform: translateX(var(--wrapper-width));
  transition: none;
}

.wrapper .form-box.login {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

.wrapper.register-mode {
  height: 80%;
}

.wrapper.register-mode .form-box.login {
  transition: none;
  position: absolute;
  transform: translateX(-400px);
}

.wrapper.register-mode .form-box.register {
  transition: transform 0.18s ease;
  transform: translateX(0);
}

@media screen and (width<400px) {
  #background {
    height: 100%;
  }
  .wrapper {
    width: 92vw;
  }
}

.form-box {
  height: 100%;
  width: 85%;
  /* border: 1px solid #eee; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.form-box h2 {
  /* border: 1px solid #000; */
  font-size: 1.4em;
  /* font-style: italic; */
}

.logo-2O-SINTH {
  width: 100%;
  height: 40px;
  margin-bottom: 8px;
  background-size: contain;
  background-image: url("./Assets/Imagenes/Logo\ 2O\ SYNTH\ V3\(Sin\ Sombra\).svg");
  filter: brightness(0.95);
  /* border: 1px solid #000; */
}

#Login-Form,
#Register-Form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 55%;
  width: 100%;
  /* border: 1px solid #000; */
}


#mensaje-credenciales-incorrectas{
  font-size: min(2.2vh, 2.2vw);
  font-weight: bolder;
  /* font-style: oblique; */
  color: rgb(163, 17, 17);
  display: none;
  text-align: center;

}

.mostrar-block{
  display: block !important;  
}

#Register-Form {
  height: 65%;
}

.input-box {
  position: relative;
  height: 20%;
  width: 100%;
  border-bottom: 2px solid #000;
  background-color: transparent !important;  
}

#Register-Form .input-box {
  height: 15%;
}

.input-box label {
  position: absolute;
  top: 50%;
  left: 1%;
  transform: translateY(-50%);
  font-size: 1em;
  color: #000;
  pointer-events: none;
  transition: all 0.2s;
  font-weight: 300;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label{
  top: -10%;
}

.input-box label.elevar{
  top: -10%;
}

.input-box label.enUso{
  font-weight: 500;
  color: rgb(167, 20, 20);
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  padding: 0 35px 0 5px;
}

#Username_Or_Email:focus {
  background-color: transparent;
}

/* ENGAÑANDO AL NAVEGADOR */

/* Resulta que Chrome tiene un comportamiento muy agresivo para inputs con autocompletado automático, y aplica sus propios estilos internos muy difìciles de sobrescribir.

La técnica de usar una transición de 5000 segundos en el color de fondo hace que Chrome "espere" todo ese tiempo antes de aplicar el color por defecto en el input. Para cuando se dispara el autorellenado, el usuario ya escribió todo y se fué del input.

Así que Visualmente el color que ve el usuario es el transparente que definimos, ya que la transición nunca tiene tiempo de completarse.

Es un hack/truco para "engañar" al navegador, aprovechando cómo funcionan las transiciones en CSS. No se necesita en otros navegadores, pero Chrome especialmente da muchos problemas con esto del autorellenado.

En resumen, es una técnica específica para controlar el comportamiento en Chrome y poder forzar el color transparente en inputs con autocompletado automático. */

input:-webkit-autofill {
  transition: background-color 5000s ease-in-out 0s;
  /* background-color: transparent !important; */
}

.input-box .icon {
  position: absolute;
  right: 1%;
  font-size: 1.2em;
  color: #000;
  top: 33%;
}

.btn {
  width: 100%;
  height: 45px;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  font-size: 1em;
  color: #fff;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1px;
}

.btn img {
  display: none;
}

.btn.loading img {
  display: inline-block;
  width: 22px;
  height: 20px;
  padding-left: 2px;
  /* border: 1px solid #eee; */
}

.btn span {
  margin-top: -2.5px;
  height: 20px;
  /* border: 1px solid #eee; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:active {
  scale: 0.95;
}

.login-register {
  font-size: #000;
  color: #000;
  text-align: center;
  font-weight: normal;
}

.login-register p a {
  font-weight: bolder;
  text-decoration: none;
  color: #000;
}

.login-register p a:hover {
  text-decoration: underline;
}
